

.filter-data {
    width: 100%;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    font-weight: bold;
}

.analysis-form .form-label {
    margin-top: 6px;
    margin-bottom: 6px;
}

.standard-name {
    cursor: pointer;
}

.bg-success-subtle {
    background: #d1e7dd !important;
    box-shadow: none !important;
}

.bg-body-secondary {
    background: #d9d9d9 !important;
    box-shadow: none !important;
}

.bg-success {
    background: #adf7b6 !important;
    box-shadow: none !important;
}

.bg-info {
    background: #ffee93 !important;
    box-shadow: none !important;
}

.bg-danger {
    background: #ffc09f !important;
    box-shadow: none !important;
}

.bg-secondary-subtle {
    background: #BFCEE7 !important;
    box-shadow: none !important;
}

.bg-dark-subtle {
    background: #e8eaee !important;
}

.bg-body-tertiary {
    background: #e8eaee;
}

.text-primary-emphasis {
    color: #0a7588;
}

.text-danger-emphasis {
    color: #c65911;
}

.text-success-emphasis {
    color: #63ab9c;
}


.border-end.border-dark-subtle{
    border-right: 1px solid #0a7588 !important;
}
.border-bottom.border-dark-subtle{
    border-bottom: 1px solid #0a7588 !important;
}
.border-top.border-dark-subtle{
    border-top: 1px solid #0a7588 !important;
}
.border-start.border-dark-subtle{
    border-left: 1px solid #0a7588 !important;
}


.bi {
    width: 1em;
    height: 1em;
}

.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: center !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 300px !important;
    background-color: white !important;
}

.gap-7 {
    gap: 5rem
}

.graph, .graphTreatments, .graphReferrals {
    height: 300px;
}

.color-block {
    width: 10px;height: 10px; display: inline-block
}